#Редиректы сделаны для нормального ответа  от сервера с кодом 301
RewriteEngine On

#Редирект со страниц с www на без www
RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

#Редирект со стандартных путей до index на valtion.ru без слэша
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/
RewriteRule ^index\.html$ https://valtion.ru [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.htm\ HTTP/
RewriteRule ^index\.htm$ https://valtion.ru [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
RewriteRule ^index\.php$ https://valtion.ru [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /pages/index\.html\ HTTP/
RewriteRule ^pages/index\.html$ https://valtion.ru [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /catalog\ HTTP/
RewriteRule ^catalog$ https://valtion.ru [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /catalog/\ HTTP/
RewriteRule ^catalog/$ https://valtion.ru [L,R=301]

#Редирект всех страниц на файл роутинга
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L]